---
import "../styles/style.css";

const title = Astro.props.title;
const colour = Astro.props.colour;
const price = Astro.props.price;
const productinfo = Astro.props.productinfo;
const picture = Astro.props.picture;
---

<article>
  <img src={picture} alt="merch" />
  <h1>{title}</h1>
  <p class="product-info">
    {productinfo}
  </p>
  <p>
    {colour}
  </p>
  <h2>{price} <span></span>dkkr.</h2>

  <button
    >Put in cart <span
      ><img
        class="cart"
        src="../public/icons/some/cart-white.svg"
        alt=""
      /></span
    >
  </button>
</article>

<style>
  article {
    max-width: 300px;
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  h1 {
    padding: 1rem;
    text-align: center;
  }
  h2 {
    padding: 1rem;
    text-align: center;
  }
  p {
    padding: 1rem;
    text-align: center;
  }

  .product-info {
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
  }
  button {
    display: block;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--black-color);
    color: var(--white-color);
    cursor: pointer;
  }
  article:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 1px black;
  }
  .cart {
    max-width: 10%;
    margin-left: 50%;
  }
  img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
</style>
